<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Todos</h1>
    <ul>
    <% comments.forEach( el => { %>
            <li class='commentItem' data-id='<%=el._id%>'>
                <%= el.comments %>
                <%= el.timeStamp %>
                <%= el.userName %>

                <% if (currentUserId == el.userId) { %> <span class='del'> Delete </span> <% } %>

            </li>
    <% }) %>    
    </ul>

    <form action="/comments/createComments" method='POST'>
        <input type="text" placeholder="Enter Comment" name='commentsItem'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>