<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>People are talking! Don't miss out, become part of "The Conversation" today! </title>
</head>
<body class="auth-back">
    <nav>

        <h1 class="title">"The Conversation" - The Hottest Chit-Chat and Gossip Online</h1>
        <h3>Why text with just your friends, when you can text with *EVERYONE*?! Get in on the hottest chit-chat and gossip online by joining "The Conversation" today! </h3>
        <ul id="auth">
            <li><a href="/login"> Login</a></li>
            <li><a href="/signup"> Signup</a></li>
        </ul>

    </nav>

<!-- throw in all the comments, maybe something like reverse chronological order, first 10 comments-->
    
    
</body>
</html> 

