<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
   

<div class="loginContainer">
<div class="itemsContainer">
<h1 class="signinLabel">Log In To Rejoin "The Conversation" </h1>
<h2>While you were gone, "The Conversation" continued; see what others said today! </h2>
    <form action="/login" method="POST">
        <input class="loginAndEmailInput" type="email" name="email" placeholder="Email">
        <input class="loginAndEmailInput" id="userPass" type="password" name="password" placeholder="Password">
        <input id="loginSubmitButton" type="submit" value="Submit Log In">
          
    </form>
    <button id="showPasswordButton" class="button" onclick="showPassword(), showPassword2()">Show Password</span>
        <!-- <input type="checkbox" onclick="showPassword(), showPassword2()">  -->
    
        <button id="returnToLogin" ><a href="/signup"> Sign-up for an Account</a></button>

<!-- <br>
<br>
<span id="optionSpan"> or </span>
<div class="line1"></div> -->
<!-- 

<button id="returnToLogin" > <a href="/signup"> Sign-up for an Account</a></button> -->

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

</div>
</div>

<script src="js/main.js"></script>
<script src="js/showPass.js"></script>
</body>
</html>
<!-- Glad I learnt about this vs code feature -->
