<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
   

<div class="loginContainer">
<div class="itemsContainer">
<h1 class="signinLabel">Sign in</h1>
<h3>Stay updated on the latest conversations</h3>
    <form action="/login" method="POST">
        <input class="loginAndEmailInput" type="email" name="email" placeholder="Email">
        <input class="loginAndEmailInput" id="userPass" type="password" name="password" placeholder="Password">
        <input id="loginSubmitButton" type="submit">
        
    </form>
    <button class="button" onclick="showPassword()">Show Password</span>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

</div>
</div>


<script src="js/main.js"></script>
<script src="js/showPass.js"></script>
</body>
</html>
<!-- Glad I learnt about this vs code feature -->
