<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>The Conversation</title>
</head>
<body class="bodySignup">
<div class="signUpContainer">
<div class="itemsContainer">
<h1 class="signUpLabel">Sign Up To Join "The Conversation" </h1>
<h2 class="whiteText">Get the latest gossip and talk with others by becoming a part of "The Conversation" today!</h2>
    <form action="/signup" method="POST">
        <input type="text" class="loginAndEmailInput" name="userName" placeholder="User Name">
       
        <input type="email" class="loginAndEmailInput" name="email" placeholder="Email">
        
        <input type="password" name="password" class="loginAndEmailInput" id="userPass" placeholder="Password"> 
        
        <input type="password" name="confirmPassword" class="loginAndEmailInput" id="userPass2" placeholder="Confirm Password">
        
        <input class="signupSubmitButton" type="submit" value="Submit Sign-Up">

        
    </form>

    <button id="showPasswordButton" class="button" onclick="showPassword(), showPassword2()">Show Password</span>
    <!-- <input type="checkbox" onclick="showPassword(), showPassword2()">  -->

    <button id="returnToLogin" > <a href="/login"> Log in Instead </a></button>

    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger"><%= el.msg %></div>
        <% }) %>    
    <% } %>

</div>
</div>

<script src="js/main.js"></script>
<script src="js/showPass.js"></script>
</body>
</html>